@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


@theme {
    --font-primary:"Roboto Mono", monospace;

    --color-eggplant: #553A4B;
    --color-ultra-violet: #3A3370;
    --color-aquamarine: #42E2B8;
    --color-background: #141115;
    --color-background-light: #2B242D;
    --color-primary: #F4C095;
    --color-primary-shadow: #b48f71;
}

/* Elimina las flechas de los inputs de tipo number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Elimina el estilo predeterminado */
  appearance: none;
  margin: 0; /* Elimina cualquier margen */
}

input[type='number'] {
  -moz-appearance: textfield; /* Elimina las flechas en Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar vertical */
  height: 12px; /* Altura del scrollbar horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #141115; /* Color del fondo del track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #42E2B8; /* Color del scrollbar */
  border-radius: 10px;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2d9b7e; /* Color al pasar el mouse */
}

.tooltipA {
  max-width: 300px; 
  white-space: normal; 
  text-align: center; 

}