@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@theme {
    --font-primary: "Bungee Spice", sans-serif;

    --color-eggplant: #553A4B;
    --color-ultra-violet: #3A3370;
    --color-aquamarine: #42E2B8;
    --color-background: #141115;
    --color-background-light: #2B242D;
    --color-primary: #F4C095;
}