@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-primary:"Roboto Mono", monospace;

    --color-eggplant: #553A4B;
    --color-ultra-violet: #3A3370;
    --color-aquamarine: #42E2B8;
    --color-background: #141115;
    --color-background-light: #2B242D;
    --color-primary: #F4C095;
    --color-primary-shadow: #b48f71;
}